<footer class="global-footer">
    <div class="container">
        <div class="flex-child">
            <h2 class="footer-element-header">Contact</h2>
            <mat-list dense>
                @for(entry of contactList; track entry){
                    <mat-list-item class="footer-list-item"><a class="footer-link" [href]="entry.link"> {{entry.title}} <fa-icon [icon]="entry.icon"></fa-icon> </a></mat-list-item>
                }
                
            </mat-list>
        </div>
        <div class="flex-child">
            <h2 class="footer-element-header">Profiles</h2>
            <mat-list dense>
                @for(entry of profileList; track entry){
                    <mat-list-item class="footer-list-item"><a class="footer-link" [href]="entry.link"> {{entry.title}} <fa-icon [icon]="entry.icon"></fa-icon> </a></mat-list-item>
                } 
            </mat-list>
        </div>
        <div class="flex-child"></div>
    </div>

    <span class="copyright-notice">Copyright <fa-icon [icon]="copyrightSymbol"></fa-icon> {{date.getFullYear()}} Jonathan Chico</span>
</footer>