.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
        .project-card{
            text-align: justify;
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            .project-card-image-container{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                .project-card-image{
                    max-width: 300px;
                }
            }

            .project-card-content{

                word-wrap: wrap;
            }
        }
    }
}