<div class="page-content">
    <div class="jumbotron-container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
    
                <h1 class="display-4">Jonathan Chico</h1>
                <p class="lead"><b>Computational physicist</b>
            </div>
        </div>
        <div class="image-container">
            <img class="user-photo" src="assets/jonathan_chico_photo.png">
        </div>
    </div>
    
    
    <div class="about-container">
    
        <mat-card class="bg-dark about-info-card">
            <mat-card-header>
                <mat-card-title>
                    About me
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="description-container">
                Computational physicist that loves to learn new things. I love programming and developing solutions to the problems of the day. <br><br>

                I did my PhD at <a href="https://www.uu.se/en">Uppsala University</a> studying <a href="https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A922992&dswid=9488">magnetization dynamics</a> and contributing to the <a href="https://github.com/UppASD/UppASD">UppASD</a> software package.
                For two years I was a postdoctoral researcher at the <a href="https://www.fz-juelich.de/en">Forschungszentrum Jülich</a> focusing on the study of defects in magnetic systems and their effects in the dynamics of magnetic textures.<br><br>
                
                Since 2019 I have been working in <a href="https://www.sandvik.coromant.com/sv-se">Sandvik Coromant</a> in Stockholm focusing in the simulation of material systems for the devlopment of cutting tools.
                For this I have developed tools for the automation of simulation of materials properties, developed, deployed and maintained the cloud based simulation infrastructure for our team,
                and have been working in the digitalization of our R&D facility.
            </mat-card-content>
        </mat-card>

        <mat-card class="bg-dark about-skills-card">
            <mat-card-header>
                <mat-card-title>
                    Skills
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    @for(entry of skillList; track entry){
                        <mat-list-item class="skill-entry">
                            <span matListItemTitle class="skill-entry-title">{{entry.title}}</span>
                            <span matListItemLine class="skill-entry-progress-container">
                                <mat-progress-bar
                                    class="skill-progress-bar"
                                    [mode]="'determinate'"
                                    [color]="'warn'"
                                    [value]="entry.level">
                                </mat-progress-bar>
                                <span class="text">{{ entry.level }} %</span>
                            </span>
                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

