.page-content{

    .jumbotron-container{
        display: flex;
        flex-direction: row;
        background-color: var(--bs-primary);
        padding: 2rem 2rem 0 2rem;
        text-align: center;
        margin-bottom: 1rem;
        justify-content: space-around;
        .image-container{
            display: flex;
            justify-content: center;
            .user-photo{
                max-width: 20rem;
            }
        }
        .display-4{
            font-size: 5rem;
            padding-bottom: 1rem;
            word-wrap: wrap;
        }
        .lead{
            font-size: 2rem;
            text-align: justify;
            word-wrap: wrap;
            color: var(--bs-warning);
        }
    }

    .about-container{
        display: flex;
        justify-content: center;
        .about-card-container{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 75%;
            .about-info-card{
                min-width: 50%;
                .description-container{
                    text-align: justify;
                    font-size: larger;
                }
            }
            .about-skills-card{
                min-width: 50%;
                .skill-entry{
                    color: var(--bs-light);
                    .skill-entry-title{
                        color: var(--bs-warning);
                        font-size: larger;
                    }

                    .skill-entry-description{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        text-align: justify;
                        .skill-progress-bar{
                            margin-right: 1rem;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }

    }
}

@media all and (min-width: 200px) and (max-width: 860px) {
    .page-content{
        .jumbotron-container{
            display: flex;
            flex-direction: column;
            .display-4{
                font-size: 2rem;
            }
            .lead{
                font-size: 2rem;
                text-align: center;
            }
            .image-container{
                display: flex;
                justify-content: center;
                .user-photo{
                    max-width: 10rem;
                }
            }
        }

        .about-container{
            display: flex;
            .about-card-container{
                display: flex;
                flex-direction: column;
            }
        }
    }

}